@import font.css

*{
	margin: 0px;
	padding: 0px;
}
.headings h1.head1{
	color: red;
	font-size:100px;
	text-align: center;
  font-family: Playwrite GB J Guides, cursive;
  font-weight: 400;
  font-style: normal;
}
.headings h1.head2{
	color : green;
	font-size:100px;
	text-align: center;
  font-family: Playwrite GB J Guides cursive;
  font-weight: 400;
  font-style: normal;

}

